
.navbar {
  position: fixed; /* 네비게이션 바를 화면에 고정시킴 */
  top: 0; /* 화면 상단에 배치 */
  left: 0; /* 화면 좌측에 배치 */
  width: 250px; /* 네비게이션 바의 폭 설정 */
  height: 100%; /* 높이를 화면 전체에 맞춤 */
  background-color: #f8f9fa; /* 배경색 설정 */
  border-right: 1px solid #dee2e6; /* 네비게이션 바의 우측 테두리 설정 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  transition: width 0.5s ease;
}

.navbar ul {
  list-style-type: none; /* 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
  padding-top: 3rem /* 맨 위 여백 설정 */
 
}

.navbar li {
  display: inline-block;
  width: 250px;
  text-align: left; /* 텍스트를 좌측 정렬 */
  padding: 10px 20px; /* 각 항목의 패딩 설정 */
  
}

.navbar a {
  text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
  color: black; /* 링크 텍스트 색상 설정 */
}

.navbar a:hover {
  background-color: #e9ecef; /* 호버 시 배경색 변경 */
}

.droupBtn{
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  display: inline-block;
  width: 250px;
  text-align: center;
  border-right: 1px solid #dee2e6; /* 네비게이션 바의 우측 테두리 설정 */

}
.droupBtn button,.droupBtn a{
 background-color: #ffffff;
 color : black;
 border: none;
 margin: 0;
 width: 250px;
border-radius: 0;
border-right: 1px solid #dee2e6; /* 네비게이션 바의 우측 테두리 설정 */
}
.droupBtn button:hover ,
.droupBtn button:focus ,
.droupBtn div:active,
.droupBtn div:focus,
.droupBtn button:active,
.droupBtn div:active,
.droupBtn a:active

{
  background-color: gray;
  box-shadow: none ;  
}

.btn-primary{
  --bs-btn-bg : gray;
  --bs-btn-border-color : gray;
}
.nav-link{
  cursor: pointer;
}

.navSearch{
  position: fixed; /* 네비게이션 바를 화면에 고정시킴 */
  top: 0; /* 화면 상단에 배치 */
  left: 100px; /* 화면 좌측에 배치 */
  width: 0px; /* 네비게이션 바의 폭 설정 */
  height: 100%; /* 높이를 화면 전체에 맞춤 */
  background-color: #f8f9fa; /* 배경색 설정 */
  border-right: 1px solid #dee2e6; /* 네비게이션 바의 우측 테두리 설정 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  transition: width 0.5s ease;
  text-align: left;
}
.SearchVisible {
  width: 350px; /* 네비게이션 바의 폭 설정 */ 
}

.SearchHidden {
  width: 0px;
  opacity: 0; /* 요소가 숨겨질 때의 opacity */
}
.SearchHidden div{
  display: none;
  opacity: 0; /* 요소가 숨겨질 때의 opacity */
}
.NavVisible{
  width: 250px;
}
.NavHidden{
  width: 100px;
  text-align: right;
}
.NavHidden li{
  text-align: center;
  width: 80px;
}
.dropdownHidden button{
  width: 100px;
  left: 0;
  transition: width 0.5s ease;
}
.dropdownHidden{
  width: 100px;
  left: 0;
  transition: width 0.5s ease;
}
.dropdownVisible{
  transition: width 0.5s ease;
}
.navSearch h1{
  margin: 15px;
}
.SearchbarHeader{
  border-bottom: 1px solid #dee2e6;
  display: inline-block;
  padding-bottom: 30px;
  width: 100%;
}
.WriteModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  margin: 0 auto;
  background-color: black;
  z-index: 4;
  overflow: hidden;
  text-align: right;
  height: 100vh;
 
}
.WriteModal a{
  font-size: 55px;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
  opacity: 1; 
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  height: 55px;
  text-align: center;
}
.WriteModal a:hover{
  background-color: none;
}

.WriteBoxHidden{
  display: none;
}
.WriteModalHidden{
  display: none;

}
.WriteBoxVisible{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 800px;
  height: 800px;
  margin:  auto;
  border-radius: 15px;
  background-color: white;
  z-index: 5;
  opacity: 1;
}
.drop-area p{
  margin-top: 350px;
  text-align: center;
} 
.drop-area img{
  border-radius: 15px;
}
.ImgWaitBar {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
}
.nextBar{
  
  background-color: #dee2e6;
  border-radius: 15px 15px 0 0 ;
  border-bottom:1px solid;
  height: 60px;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
.endBar{
  background-color: #dee2e6;
  border-radius: 15px 0 0 0 ;
  border-bottom:1px solid;
  height: 60px;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
.endBar a{
  display: inline-block;
  width: auto;
  height: 20px;
  line-height: 0px;
  margin-top: 20px;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
  
  
}

.nextBar a{
  display: inline-block;
  width: auto;
  height: 20px;
  line-height: 0px;
  margin-top: 20px;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
  
  
}
.backBtn{
  position: absolute;
  left: 25px;
}
.NextBtn{
  position: absolute;
  right: 0;
}
.nextBar a:hover{
background-color: white;
}
.WriteBoxContentsVisible{
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  width: 500px;
  height: 800px;
  right: -500px;
  transition: display 0.5s ease;
  border-radius: 0 15px 0 0;
}
.WriteBoxContentsHidden{
  display: none;
}
.WriteContentsBox_header{
  top: 0;
  border-bottom: 1px solid;
  opacity: 0.8;
  width: 500px;
  background-color: #dee2e6;
  height: 60px;
  border-radius: 0 15px 0 0 ;
  transition: 0.5s ease;
}
.WriteContentsBox_header a{
  display: inline-block;
  width: auto;
  height: 20px;
  line-height: 0px;
  margin-top: 20px;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
}
.WriteContentsBox_body textarea{
  border: none;
  resize: none;

}
